{% extends 'base.html' %}
{% block content %}
<table>
    {% for post in context["posts"] %}
        <tr>
            {% for key, value in post.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}