{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {{ context["form"].hidden_tag() }}
    <fieldset>
        <legend>Login</legend>
        <section>
            {% if context["form"].username.errors %}
                {{ context["form"].username.label }}
                {{ context["form"].username (placeholder='Enter username', class='error-bg') }}
                {% for error in context["form"].username.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].username.label }}
                {{ context["form"].username (placeholder='Enter username') }}
            {% endif %}
        </section>
        <section>
            {% if context["form"].password.errors %}
                {{ context["form"].password.label }}
                {{ context["form"].password (placeholder='Enter password', class='error-bg') }}
                {% for error in context["form"].password.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].password.label }}
                {{ context["form"].password (placeholder='Enter password') }}
            {% endif %}
        </section>
        <section>
            {% if context["form"].remember_me.errors %}
                {{ context["form"].remember_me.label }}
                {{ context["form"].remember_me (class='error-bg') }}
                {% for error in context["form"].remember_me.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].remember_me }}
                {{ context["form"].remember_me.label }}
            {% endif %}
        </section>
        <section>
            {{ context["form"].submit (class='form-button') }}
        </section>
    </fieldset>
</form>
<section>
    <p>Don't have an account? Register <a href="{{ url_for('author_bp.registration') }}">here</a></p>
</section>
{% endblock %}