{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {{ context["form"].hidden_tag() }}
    <fieldset>
        <legend>Register With Us</legend>
        <section>
            {% if context["form"].username.errors %}
                {{ context["form"].username (placeholder='Enter username', class='error-bg') }}
                {% for error in context["form"].username.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].username (placeholder='Enter username') }}
            {% endif %}
        </section>
        <section>
            {% if context["form"].email.errors %}
                {{ context["form"].email (placeholder='Enter email', class='error-bg') }}
                {% for error in context["form"].email.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].email (placeholder='Enter email') }}
            {% endif %}
        </section>
        <section>
            {% if context["form"].password.errors %}
                {{ context["form"].password (placeholder='Enter password', class='error-bg') }}
                {% for error in context["form"].password.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].password (placeholder='Enter password') }}
            {% endif %}
        </section>
        <section>
            {% if context["form"].confirm_password.errors %}
                {{ context["form"].confirm_password (placeholder='Confirm the password', class='error-bg') }}
                {% for error in context["form"].confirm_password.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% else %}
                {{ context["form"].confirm_password (placeholder='Confirm the password') }}
            {% endif %}
        </section>
        <section>
            {{ context["form"].submit (class='form-button') }}
        </section>
    </fieldset>
</form>
<section>
    <p>Already have an account? Login <a href="{{ url_for('author_bp.login') }}">here</a></p>
</section>
{% endblock %}