html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    background-color: pink;
}

header ul, footer ul {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 10px;
}

li {
    list-style-type: none;
    flex: 1;
}

.error-bg {
    background-color: red;
    color: white;
}

.success-bg {
    background-color: green;
    color: white;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}