<!DOCTYPE html>
<html>
    <head>
        <title>{{ context["page_title"] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main_bp.home') }}">Home</a></li>
                    <li><a href="{{ url_for('main_bp.about') }}">About</a></li>
                    <li><a href="{{ url_for('post_bp.list_all_posts') }}">List of All Posts</a></li>
                    <li><a href="{{ url_for('author_bp.registration') }}">Register</a></li>
                    <li><a href="{{ url_for('author_bp.login') }}">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>{{ context["main_heading"] }}</h1>
            {% block content %}
            {% endblock %}
            {% with messages = get_flashed_messages ( with_categories = true )%}
                {% if messages %}
                    {% for category, message in messages %}
                        <section class='{{ category }}'> {{message}} </section>
                    {% endfor%}
                {% endif %}
            {% endwith %}
        </main>
        <footer>
            <ul>
                <li>Wan Mei TAO</li>
                <li>&copy; 2024</li>
            </ul>
        </footer>
    </body>
</html>